<div class="container">
  <div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label s-text-color-black">ID</label>
      <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="VD: 1, 2, 3,...">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput2" class="form-label s-text-color-black">Tên khách hàng</label>
      <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="VD: Hoàng Đặng Quốc Phú">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput3" class="form-label s-text-color-black">Số điện thoại</label>
      <input type="tel" class="form-control" id="exampleFormControlInput3" placeholder="VD : (+84) xxxxxxx">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput4" class="form-label s-text-color-black">Email</label>
      <input type="email" class="form-control" id="exampleFormControlInput4" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput5" class="form-label s-text-color-black">Địa chỉ</label>
      <input type="text" class="form-control" id="exampleFormControlInput5" placeholder="Số 295 Nguyễn Tất Thành, Thanh Bình, Hải Châu, Đà Nẵng">
    </div>
  </div>
  <button type="button" class="btn btn-secondary">Cancel</button>
  <button type="button" class="btn btn-success">Edit</button>
</div>
