<div class="container">
  <table class="table table-hover table-striped" style="margin-top:20px">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name Customer</th>
      <th>Name Contract</th>
      <th>Start Day</th>
      <th>End Day</th>
      <th>Prepayment Money</th>
    </tr>
    </thead>
  <tbody>
  <tr *ngFor="let contract of contracts">
    <td>{{contract.id}}</td>
    <td>{{contract.customerName}}</td>
    <td>{{contract.facilityName}}</td>
    <td>{{contract.startDay}}</td>
    <td>{{contract.endDay}}</td>
    <td>{{contract.prePayment}}</td>
  </tr>
  </tbody>
  </table>
</div>
