<div class="container">
  <table class="table table-striped table-hover" style="margin-top:20px">
    <tr>
      <th>Id</th>
      <th>Name Customer</th>
      <th>Name Contract</th>
      <th>Start Day</th>
      <th>End Day</th>
      <th>Total Money</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Vo Nhat Anh</td>
      <td>Contract Resort</td>
      <td>04/06/2021</td>
      <td>04/06/2022</td>
      <td>30.000.000</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Le Hong Ngoc</td>
      <td>Contract Hotel</td>
      <td>04/09/2020</td>
      <td>04/08/2022</td>
      <td>100.000.000</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Nguyen Van A</td>
      <td>Contract Villa</td>
      <td>12/09/2021</td>
      <td>14/08/2022</td>
      <td>12.000.000</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Le Viet Q</td>
      <td>Contract Resort</td>
      <td>02/09/2019</td>
      <td>14/06/2022</td>
      <td>3.000.000</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Nguyen Van T</td>
      <td>Contract Hotel</td>
      <td>02/06/2021</td>
      <td>14/06/2022</td>
      <td>1.000.000</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Le Thi D</td>
      <td>Contract Villa</td>
      <td>02/06/2021</td>
      <td>14/06/2022</td>
      <td>12.000.000</td>
    </tr>
  </table>
</div>
