<div class="container">
  <div class="row">
    <div class="col-lg-4 border border-5" *ngFor="let facility of facilities">
      <img width="100%" height="70%"
           src="{{facility.img}}"
           class="img-fluid" alt="...">
      <p style="text-align: center"><strong>{{facility.name}}</strong></p>
      <div style="text-align:center">
        <button type="button" class="btn btn-success" routerLink="/edit-facility">Sửa</button>
        <!--Modal-->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Xoá
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModa1l" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Modal Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Bạn có chắc chắn muốn xoá ?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-primary">Đồng ý</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
