.container-fluid {
  margin: 15px 0;
  font-family: "Bahnschrift", sans-serif;
}

svg {
  width: 20px;
}

.nav-link {
  text-align: center;
  width: 150px;
  background-color: cyan;
  margin-left: 5px;
  font-family: "Bahnschrift", sans-serif;
}

.nav-bar {
  margin: 15px 0 0 0;
}

.img-fluid {
  text-align: center;
}
