<div class="container">
  <form>
    <div class="mb-3">
      <p>Tên Khách Hàng</p>
      <select class="form-control">
<!--        <option *ngFor="let customer of customers">{{customer.name}}</option>-->
      </select>
    </div>
    <div class="mb-3">
      <p>Tên dịch vụ</p>
      <select class="form-control">
        <option *ngFor="let facility of facilities">{{facility.name}}</option>
      </select>
    </div>
    <div class="mb-3">
      <p>Ngày Làm Hợp Đồng :</p>
      <input type="date" placeholder="Start Date" class="form-control">
    </div>
    <div class="mb-3">
      <p>Ngày Kết Thúc Hợp Đồng :</p>
      <input type="date" placeholder="Start Date" class="form-control">
    </div>
    <div class="mb-3">
      <p>Đặt cọc</p>
      <input type="number" class="form-control" id="exampleFormControlInput3" placeholder="VD : 1.000.000">
    </div>
  </form>
  <button type="button" class="btn btn-secondary">Cancel</button>
  <button type="button" class="btn btn-success">Create</button>
</div>
