<form class="form-control">
  <h1>Register Form</h1>
  <div class="mb-3 text-lg-end" [formGroup]="signUpForm">
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email">
    <div class="alert alert-danger" role="alert"
         *ngIf="signUpForm.get('email').invalid && signUpForm.get('email').touched">
      Email is required!
    </div>
  </div>

  <div [formGroup]="signUpForm">
      <div class="mb-3 text-lg-end">
        <label for="password">Password:</label>
        <input id="password" type="text" formControlName="password">
      </div>

    <div class="alert alert-danger" role="alert"
         *ngIf="signUpForm.get('password').invalid && signUpForm.get('password').touched">
        Password is required and min length is 6!
      </div>
  </div>

  <p>Form Status: {{signUpForm.status}}</p>

  <div class="mb-3 text-lg-end" [formGroup]="signUpForm">
    <button type="button" [disabled]="!signUpForm.valid" (click)="onSubmit()">Submit</button>
  </div>
</form>
